<div class="row">
    <div class="col">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Vehicles
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Map</a>
            </div>
        </div>
    </div>
    <div class="col-6">
    </div>
    <div class="col">
    </div>
  </div>
<router-outlet></router-outlet>
